

$red-dark: #920203;
$red-active: #d10003;
$red-light: #f40102;
$blue-dark: #002658;
$blue-light: #004797;
$gray: #d6d0cf;
$list-option-active: #ea8800;


$white-text: #fff;
$red-text: #af1c24;
$black-text: #110e01;
$link-text: #676b6c;



$menu-background: $red-dark;
$menu-text-color: $white-text;
$panel-header-background: $red-dark;
$panel-header-text-color: $white-text;

$input-border-color: #443d3f;
