@import "variables";

@media (min-width: 992px) {
    html{
        margin-bottom: 50px!important; 
    }

    div.content-body{        
    }
}
@media (max-width: 991px) {

    div.content-body{        
        margin-bottom: 20px;
    }
}
/*intranet classes*/
.intranet-panel{
    border-radius: 0px;
    border: 0px;
    .panel-heading{
        color: $white-text;
        border-radius: 0px;
        border: 0px;
    }
    .panel-body{
        border-radius: 0px;
        background-color: $gray; 
    }
    
}

.panel-red{    
    .panel-heading{
        background-color: $red-dark;

    }
}
.panel-blue{
    .panel-heading{
        background-color: $blue-dark;
    }
}

.intranet-footer{
    background-color: $blue-dark; 
}

.intranet-header-logo-left, .intranet-header-logo-right{
    width: 80%;
}

.intranet-header-info{
    border-top:solid 5px $blue-dark; 
}

.intranet-navbar{
    background-color: $menu-background;
    border: 0px;
    border-radius: 0px;
    color: $menu-text-color;

    .navbar-toggle{
        border: 0px;
        &:hover, &:active, &:focus{
            background-color: $red-active!important;
        }
    }

    .navbar-collapse{
        border: none;
    }

    ul>li{
        
        a{
            color: $white-text!important;
        }

        &.active>a, &:hover{
            background: $red-active!important;
            
        }
    }
    
}

.intranet-search-box{
    border-radius: 0px;
    border: 2px solid $input-border-color;
    &:active, &:focus{
        border: 2px solid $red-active;
    }
}

.intranet-birthday-list{
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;

    .birthday-list-item{
        border-bottom: solid 1px white;
        border-bottom-style: dashed;
    }
}

div.user-menu{
    @media (min-width: 992px) {
        img.user-menu-image{
            box-shadow: 5px 5px 18px #222;
            position:absolute;
            top: -90px;
            width:120px;
            height:120px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    @media (max-width: 991px) {
        img.user-menu-image{
            float:left;
            width:70px;
            height:70px;
        }
    }

    div.user-menu-heading{
        padding:15px;
        background-color: $red-dark;
        color: $white-text;
        text-align:center;
    }

    div.user-menu-body{
        background: $red-light;
        padding: 15px;
        
        ul.user-menu-options{

            li{
                text-align: right;         
                list-style: none;
                padding-top:10px;
                padding-bottom:10px;
            }

            li a{
                display: block;
                text-transform: uppercase;
                color: $white-text;
                text-decoration: none;
                span.menu-item-text{
                    display: inline-block;
                    max-width: 80%;
                    text-align: right;
                    vertical-align: middle;
                }
                span.square{                    
                    margin-left:15px;
                    display: inline-block;
                    max-width: 20%;
                    background: $red-dark;
                    vertical-align: middle;
                    width:20px;
                    height:20px;
                }
                &:hover{
                    span.square{
                        background: $list-option-active;
                    }
                }
            }

            li.active{
                span.square{
                    background: $list-option-active;
                }
            }
        }
        
    }

}

div.options-list{
    div.option-title{
        
        background: $red-dark;

        .option-title-text{
            color: $white-text;
            word-wrap: break-word;
        }

        @media (max-width: 991px) {
            width:100%;
            .option-title-text{
                max-width:80%;
                display: inline-block;
            }
            span.option-title-square{
                display: inline-block;
                max-width:20%;
                vertical-align: top;
                margin: 22px 10px 0px 10px;
            }
        }
        @media (min-width: 992px) {
            min-width:140px;
            max-width: 100%;
            min-height: 140px;  
            padding:15px;
            display: inline-block;
            .option-title-text{
                margin-top: 60px;
            }
            span.option-title-square{
                display: block;
                position: relative;
                top: 0;
            }
        }
        
        span.option-title-square{
            width: 20px;
            height: 20px;
            background: $list-option-active;
        }
    }
    ul{
        margin-left:-50px;
        margin-top:30px;
        list-style: none;
        li{
            margin: 10px 20px 10px 20px;
        }
        li a{
            text-decoration: none;
            font-weight: bold;
            color: $black-text;
            &:hover{
                span.rectangle-blue{
                    background: $list-option-active;
                }
            }
        }
        li a span.rectangle-blue{
            @media (min-width: 992px) {
                width: 120px;
                height: 15px;
            }
        
            @media (max-width: 991px) {
                width: 15px;
                height: 15px;
            }
            
            vertical-align: middle;
            background: $blue-dark;
            display: inline-block;         
            margin-right: 10px;
        }
    }
}

div.content-body{
    background: $body-content-background;
    padding: 20px;
}

div.content-body-header-aux{
    height:20px;
    background: $body-content-background;
    width:100%;
    margin-top:-20px;
}

.list-option-text{
    display: inline-block;
    vertical-align: middle;
    max-width:60%;
}

.content-column{
    @media (max-width: 767px) {
        padding: 0px!important;
    }
}