@import "variables";

/*intranet classes*/
.intranet-panel{
    border-radius: 0px;
    border: 0px;
    .panel-heading{
        color: $white-text;
        border-radius: 0px;
        border: 0px;
    }
    .panel-body{
        border-radius: 0px;
        background-color: $gray; 
    }
    
}

.panel-red{    
    .panel-heading{
        background-color: $red-dark;

    }
}
.panel-blue{
    .panel-heading{
        background-color: $blue-dark;
    }
}

.intranet-footer{
    background-color: $blue-dark; 
}

.intranet-header-logo-left, .intranet-header-logo-right{
    width: 80%;
}

.intranet-header-info{
    border-top:solid 5px $blue-dark; 
}

.intranet-navbar{
    background-color: $menu-background;
    border: 0px;
    border-radius: 0px;
    color: $menu-text-color;

    .navbar-toggle{
        border: 0px;
        &:hover, &:active, &:focus{
            background-color: $red-active!important;
        }
    }

    .navbar-collapse{
        border: none;
    }

    ul>li{
        
        a{
            color: $white-text!important;
        }

        &.active>a, &:hover{
            background: $red-active!important;
            
        }
    }
    
}

.intranet-search-box{
    border-radius: 0px;
    border: 2px solid $input-border-color;
    &:active, &:focus{
        border: 2px solid $red-active;
    }
}

.intranet-birthday-list{
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;

    .birthday-list-item{
        border-bottom: solid 1px white;
        border-bottom-style: dashed;
    }
}

div.user-menu{
    @media (min-width: 992px) {
        img.user-menu-image{
        box-shadow: 5px 5px 18px #222;
            position:absolute;
            top: -90px;
            width:120px;
            height:120px;
            left: calc(33%);
        }
    }

    @media (max-width: 991px) {
        img.user-menu-image{
            float:left;
            width:70px;
            height:70px;
        }
    }

    div.user-menu-heading{
        padding:15px;
        background-color: $red-dark;
        color: $white-text;
        text-align:center;
    }

    div.user-menu-body{
        background: $red-light;
        padding: 15px;
        
        ul.user-menu-options{

            li{
                text-align: right;         
                list-style: none;
                padding-top:10px;
                padding-bottom:10px;
            }

            li a{
                text-transform: uppercase;
                color: $white-text;
                text-decoration: none;
                span.square{
                    margin-right:-15px;
                    margin-bottom:-5px;
                    margin-left:15px;
                    display: inline-block;
                    background: $red-dark;
                    width:20px;
                    height:20px;
                }
                &:hover{
                    span.square{
                        background: $list-option-active;
                    }
                }
            }

            li.active{
                span.square{
                    background: $list-option-active;
                }
            }
        }
        
    }

}

