/*intranet classes*/
.intranet-panel {
  border-radius: 0px;
  border: 0px; }
  .intranet-panel .panel-heading {
    color: #fff;
    border-radius: 0px;
    border: 0px; }
  .intranet-panel .panel-body {
    border-radius: 0px;
    background-color: #d6d0cf; }

.panel-red .panel-heading {
  background-color: #920203; }

.panel-blue .panel-heading {
  background-color: #002658; }

.intranet-footer {
  background-color: #002658; }

.intranet-header-logo-left, .intranet-header-logo-right {
  width: 80%; }

.intranet-header-info {
  border-top: solid 5px #002658; }

.intranet-navbar {
  background-color: #920203;
  border: 0px;
  border-radius: 0px;
  color: #fff; }
  .intranet-navbar .navbar-toggle {
    border: 0px; }
    .intranet-navbar .navbar-toggle:hover, .intranet-navbar .navbar-toggle:active, .intranet-navbar .navbar-toggle:focus {
      background-color: #d10003 !important; }
  .intranet-navbar .navbar-collapse {
    border: none; }
  .intranet-navbar ul > li a {
    color: #fff !important; }
  .intranet-navbar ul > li.active > a, .intranet-navbar ul > li:hover {
    background: #d10003 !important; }

.intranet-search-box {
  border-radius: 0px;
  border: 2px solid #443d3f; }
  .intranet-search-box:active, .intranet-search-box:focus {
    border: 2px solid #d10003; }

.intranet-birthday-list {
  height: 180px;
  overflow-x: hidden;
  overflow-y: auto; }
  .intranet-birthday-list .birthday-list-item {
    border-bottom: solid 1px white;
    border-bottom-style: dashed; }

@media (min-width: 992px) {
  div.user-menu img.user-menu-image {
    box-shadow: 5px 5px 18px #222;
    position: absolute;
    top: -90px;
    width: 120px;
    height: 120px;
    left: 0;
    right: 0;
    margin: 0 auto; } }

@media (max-width: 991px) {
  div.user-menu img.user-menu-image {
    float: left;
    width: 70px;
    height: 70px; } }

div.user-menu div.user-menu-heading {
  padding: 15px;
  background-color: #920203;
  color: #fff;
  text-align: center; }

div.user-menu div.user-menu-body {
  background: #f40102;
  padding: 15px; }
  div.user-menu div.user-menu-body ul.user-menu-options li {
    text-align: right;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px; }
  div.user-menu div.user-menu-body ul.user-menu-options li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; }
    div.user-menu div.user-menu-body ul.user-menu-options li a span.square {
      margin-right: -15px;
      margin-bottom: -5px;
      margin-left: 15px;
      display: inline-block;
      background: #920203;
      width: 20px;
      height: 20px; }
    div.user-menu div.user-menu-body ul.user-menu-options li a:hover span.square {
      background: #ea8800; }
  div.user-menu div.user-menu-body ul.user-menu-options li.active span.square {
    background: #ea8800; }

div.options-list div.option-title {
  background: #920203;
  width: 155px;
  height: 155px;
  position: absolute;
  top: 25px;
  padding: 15px; }
  div.options-list div.option-title span.option-title-square {
    display: block;
    width: 20px;
    height: 20px;
    background: #ea8800; }
  div.options-list div.option-title .option-title-text {
    color: #fff;
    position: absolute;
    bottom: 0; }

div.options-list ul {
  margin-top: 75px;
  list-style: none; }
  div.options-list ul li {
    margin: 10px 20px 10px 20px; }
  div.options-list ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #110e01; }
    div.options-list ul li a:hover span.rectangle-blue {
      background: #ea8800; }
  div.options-list ul li a span.rectangle-blue {
    background: #002658;
    display: inline-block;
    width: 150px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: -2px; }

div.content-body {
  background: #eae7e9;
  padding: 25px; }
